body {
  background-image: url("assets\pexels-zaksheuskaya-1616403.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}
.navbar{
  max-width: 100%;
  background: linear-gradient(to bottom, #8f00af, #cf79e2);
  color : white;
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}
.navbar #nav-head{
  padding-left: 40px;
  padding-top: 16px;
  margin: 0;
  cursor: pointer;
}
.navbar #contact-us{
  margin: 10px;
  border-radius: 5%;
  padding: 10px;
  border: none;
  background-color: purple;
}
.navbar #contact-us a{
  text-decoration: none;
  color: white;
}
.links{
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding-top: 20px;
  font-size: 17px;
}
.links a{
  text-decoration: none;
  color: white;
}
.body-text{
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 25px;
}
.body-text #a1{
  max-width: 500px;
  padding-top: 200px;
  font-size: 50px;
}
.body-text #a2{
  max-width: 500px;
  font-size: 20px;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20vh;
  padding-left: 40px;
  padding-right: 25px;
  padding-bottom: 20vh;
}
.container .login-card{
  width: 296px;
  position: relative;
  backdrop-filter: blur(5px);
  border-radius: 10%;
  text-align: center;
}
.container .login-card input{
  border: 2px solid #e8e8e8;
  padding: 15px;
  border-radius: 10px;
  background-color: #212121;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}
.free-trial{
  margin-top: 200px;
  margin-bottom: 200px;
  max-width: 100%;
  height: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: lightgray;
  border: none;
  border-radius: 5%;

}
.register-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20vh;
  padding-left: 40px;
  padding-right: 25px;
  padding-bottom: 20vh;
}
.register-container .register-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding : 60px;
  backdrop-filter: blur(5px);
  border-radius: 10%;
  text-align: center;
}
.register-container .register-card input{
  border: 2px solid #e8e8e8;
  padding: 15px;
  border-radius: 10px;
  background-color: #212121;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}